<%= simple_form_for(@description, url: description_simple_form_url(@description), method: @description.new_record? ? :post : :patch) do |f| %>

    <div id="button-bar" class="form-actions">
      <%= link_to '&#8672; Back to descriptions'.html_safe, descriptions_path %>
      <%= f.button :submit, t('form.save').html_safe %>
      <% unless @description.new_record? %>
          <%= link_to'Delete', sti_description_path(@description, @description.type, :delete), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :type, as: :hidden %>

      <div id="acc-price">
        <p><%= t('description.edit.acc_price') %></p>
        <%= f.input :acc_price_currency, label: t('description.edit.currency'), collection: { '£' => 'GPB', '$' => 'USD', '¥' => 'CYN' }, selected: (@description.acc_price_currency || 'CYN'), input_html: { class: 'currency' }, label_html: { class: 'currency' } %>
        <%= f.input :acc_price, as: :decimal, label: t('description.edit.acc_price'), placeholder: t('description.edit.acc_price') %>
      </div>

      <div id="target-price">
        <p><%= t('description.edit.target_price') %></p>
        <%= f.input :target_price_currency, label: t('description.edit.currency'), collection: { '£' => 'GPB', '$' => 'USD', '¥' => 'CYN' }, selected: (@description.target_price_currency || 'GBP'), input_html: { class: 'currency' }, label_html: { class: 'currency' } %>
        <%= f.input :target_price, as: :decimal, label: t('description.edit.target_price'), placeholder: t('description.edit.target_price')  %>
      </div>

      <%= f.input :unique, label: t('description.edit.unique') %>

      <div id="weights">
        <%= f.input :weight_net, label: t('description.edit.weight_net') %>
        <%= f.input :weight_gross, label: t('description.edit.weight_gross') %>
      </div>

      <%#= f.input :archived %>

      <div id="ingredients" data-count="<%= @description.ingredients.count %>">
        <fieldset>
          <legend><%= t('description.edit.materials') %></legend>
          <div>
            <input id='material-name-input' data-disabled="true"/>
            <a href="javascript:void(0)" id="add-ingredient-button" class="button disabled">Add</a>
          </div>
          <ol id="ingredients-list">
            <% @description.ingredients.each do |ingredient| -%>
                <%= content_tag :li,
                                class: 'ingredient',
                                data: {
                                        id: ingredient.id,
                                        material_id: ingredient.material.id,
                                        material_name_en: ingredient.material.name_en,
                                        material_name_zh: ingredient.material.name_zh ? ingredient.material.name_zh : ingredient.material.name_en,
                                        position: ingredient.position,
                                        genuine: ingredient.genuine,
                                        significance: ingredient.significance
                                } do %>
                <% end %>
            <% end -%>
          </ol>
        </fieldset>
      </div>
    </div>
<% end %>
