<h1>Materials</h1>

<div id="material-type-links">
  <ul>
    <li class="<%= @type.blank? || @type == Material.name ? 'selected' : '' %>"><%= link_to 'All', materials_path %></li>
    <li class="<%= @type == Material::Gemstone.name ? 'selected' : '' %>"><%= link_to 'Gemstones', gemstones_path %></li>
    <li class="<%= @type == Material::Metal.name ? 'selected' : '' %>"><%= link_to 'Metals', metals_path %></li>
    <li class="<%= @type == Material::ManMade.name ? 'selected' : '' %>"><%= link_to 'Man-mades', man_mades_path %></li>
  </ul>
</div>

<div id="materials-tree">
  <ol>
    <%= render_material_index_list(@materials_hash, I18n.locale) %>
  </ol>
</div>
